@font-face {
    font-family: Almond;
    src: url(../font/Almond\ Cookies.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Almond;
}

html {
    font-size: 16px;
}

h1 {
    font-size: 5rem;
    color: rgba(255, 255, 255, 0.87);
}

h2 {
    font-size: 5rem;
    color: rgba(255, 255, 255, 0.87);
}

p {
    font-size: 3rem;
    color: rgba(255, 255, 255, 0.87);
}

a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.87);
    font-size: 2rem;
}


/* banner */

.banner-container {
    background: linear-gradient(rgba(0 ,0 , .2, .0) , #250029) , url(../image/pexels-jason-villanueva-851555.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
    position: relative;
}

.banner-container > img {
    width: 110px;
    position: absolute;
    top: 5px;
    left: 5px;
}

.title-container {
    position: absolute;
    top: 45%;
    left: 10%;
    transform: translateY(-50%);
    text-align: center;
}

.btn-container {
    margin: 30px;
}

.btn-container a {
    display: inline-block;
    padding: 0 20px;
    border: 1px solid rgba(255, 255, 255, 0.87);
    margin: 0 15px;
    position: relative;
    z-index: 1;
    font-weight: 500;
    transition: .5s;
}

.btn-container a span {
    width: 0;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.87);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: .5s;
}

.btn-container a:hover span {
    width: 100%;
}

.btn-container a:hover {
    color: #250029;
}

/* side nav */

.side-nav {
    background-color: #250029;
    width: 200px;
    height: 100vh;
    position: fixed;
    top: 0;
    right: -200px;
    text-align: center;
    transition: .5s;
}

.side-nav ul {
    margin-top: 120px;
}

.side-nav ul li {
    list-style: none;
    margin-top: 70px;
    font-size: 1.6rem;
}

.menu-btn {
    width: 50px;
    height: 50px;
    background-color: white;
    border-radius: 7px;
    position: fixed;
    top: 15px;
    right: 15px;
    cursor: pointer;
}

.menu-btn img {
    margin: 10px;
    width: 30px;
}

/* titles */

.titles {
    text-align: center;
    padding: 70px 0;
}

.titles p {
    color: #250029;
    position: relative;
    display: inline-block;
    font-size: 2.5rem;
}

.titles p::after {
    content: '';
    width: 100%;
    border-bottom: 3px solid #250029;
    position: absolute;
    top: 50px;
    left: 0;
}

.titles h2 {
    color: #250029;
    font-size: 3.6rem;
}

/* features */

.features-box {
    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
}

.features-box .features-item {
    flex-basis: 50%;
}

.features-box .features-item h2 {
    text-align: center;
    margin-bottom: 10px;
    color: #250029;
    font-size: 2.5rem;
    font-weight: bold;
}

.features-box .features-item p {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
    font-size: 1.7rem;
    color: #250029;
}

.features-box .features-img {
    flex-basis: 50%;
    margin: auto;
}

.features-box .features-img img {
    width: 60%;
    border-radius: 10px;
}

/* services */

.services-container {
    width: 100%;
    margin: 70px 0;
    background: #efefeffa;
}

.services-box {
    width: 70%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.services-box .single-services {
    position: relative;
    flex-basis: 48%;
    text-align: center;
    border-radius: 7px;
    margin-bottom: 20px;
    color: white;
}

.services-box .single-services img {
    width: 100%;
    border-radius: 7px;
}

.overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(rgba(0, 0, 0, .5) , #250029);
    opacity: 0;
    transition: .5s;
    border-radius: 7px;
    cursor: pointer;
}

.single-services:hover .overlay {
    opacity: 1;
}

.services-desc {
    width: 80%;
    position: absolute;
    /* bottom: 0; */
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: .5s;
}

.services-desc p {
    font-size: 1.3rem;
}

.single-services:hover .services-desc {
    /* bottom: 10%; */
    top: 75%;
    opacity: 1;
}